<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>278296114647-se12pslne7g43d5jk648nclos0oc3ora.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278296114647-se12pslne7g43d5jk648nclos0oc3ora</string>
	<key>API_KEY</key>
	<string>AIzaSyBygojYWDXCxg3IwoGQPS2TfJTQ3N4GfgI</string>
	<key>GCM_SENDER_ID</key>
	<string>278296114647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bramdeconinck.Technology-Salesman-Toolkit</string>
	<key>PROJECT_ID</key>
	<string>technology-salesman-toolkit</string>
	<key>STORAGE_BUCKET</key>
	<string>technology-salesman-toolkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278296114647:ios:b5a5ebd210b21207</string>
	<key>DATABASE_URL</key>
	<string>https://technology-salesman-toolkit.firebaseio.com</string>
</dict>
</plist>